Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
Q2. State and Explain the features of MongoDB.
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
Q7. Explain why delete_one(), delete_many(), and drop() is used.

Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a popular NoSQL (non-relational) database management system. Unlike traditional relational databases like SQL, which use a structured table-based schema, MongoDB is document-oriented, storing data in flexible, JSON-like BSON documents with dynamic schemas.

Non-relational databases are designed to handle large volumes of unstructured or semi-structured data. They offer a more flexible and scalable approach compared to traditional relational databases. In non-relational databases, data is stored in a variety of ways, such as key-value pairs, documents, graphs, or wide-column stores.

Scenarios where MongoDB is preferred over SQL databases:

Flexible Schema: MongoDB allows for a dynamic schema, making it easier to evolve the data model as application requirements change.
Scalability: MongoDB's horizontal scalability is well-suited for handling large amounts of data and high traffic loads by distributing data across multiple servers.
Document Storage: The ability to store complex hierarchical data structures in BSON documents simplifies data representation and retrieval.
Agile Development: MongoDB's document-oriented model aligns well with agile development practices, enabling faster development cycles.
Geospatial Indexing: MongoDB has built-in support for geospatial indexing and queries, making it suitable for location-based applications.

 ---Q2. State and Explain the features of MongoDB.--

Some key features of MongoDB include:

1-Document-Oriented: Data is stored in flexible, JSON-like BSON documents.
Dynamic Schema: Fields can be added or modified without affecting existing data.
2-Indexing: Supports secondary indexes for faster query performance.
Scalability: Horizontal scaling with sharding for handling large amounts of data.
3-Aggregation Framework: Powerful aggregation pipeline for data transformation and analysis.
4-Replication: Provides high availability through replica sets.
5-Ad Hoc Queries: Supports rich queries to retrieve specific data.
6-Atomic Operations: Single-document transactions for maintaining data consistency.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [4]:
import pymongo

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.1/677.1 kB 16.4 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.4.2-py3-none-any.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.4/300.4 kB 32.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.4.2 pymongo-4.6.1
Note: you may need to restart the kernel to use updated packages.

In [41]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://Goutham071:Goutham071@cluster0.ir0u5xy.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

In [42]:
db = client['dec1912']

In [43]:
coll_create = db["assignment"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record and insert many records. Use the find() and find_one() methods to print the inserted record.

In [44]:
data19={"name":"goutham",
        "class":"mca"}

In [45]:
coll_create.insert_one(data19)

InsertOneResult(ObjectId('65813e9da5a854fb42832c60'), acknowledged=True)

In [47]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }]

In [48]:
coll_create.insert_many(data3)

InsertManyResult([ObjectId('65813ed7a5a854fb42832c61'), ObjectId('65813ed7a5a854fb42832c62'), ObjectId('65813ed7a5a854fb42832c63'), ObjectId('65813ed7a5a854fb42832c64'), ObjectId('65813ed7a5a854fb42832c65'), ObjectId('65813ed7a5a854fb42832c66'), ObjectId('65813ed7a5a854fb42832c67'), ObjectId('65813ed7a5a854fb42832c68'), ObjectId('65813ed7a5a854fb42832c69'), ObjectId('65813ed7a5a854fb42832c6a'), ObjectId('65813ed7a5a854fb42832c6b'), ObjectId('65813ed7a5a854fb42832c6c')], acknowledged=True)

In [49]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('65813e5389d691c1b325583f'), 'name': 'goutham', 'class': 'mca'}
{'_id': ObjectId('65813e9da5a854fb42832c60'), 'name': 'goutham', 'class': 'mca'}
{'_id': ObjectId('65813ed7a5a854fb42832c61'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65813ed7a5a854fb42832c62'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65813ed7a5a854fb42832c63'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65813ed7a5a854fb42832c64'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65813ed7a5a854fb42832c65'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65813ed7a5a854fb42832c66'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65813ed7a5a854fb42832c67'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65813ed7a5a854fb42832c68'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65813ed7a5a854fb42832c69'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65813ed7a5a854fb42832c6a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65813ed7a5a854fb42832c6b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65813ed7a5a854fb42832c6c'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [50]:
coll_create.find_one()

{'_id': ObjectId('65813e5389d691c1b325583f'),
 'name': 'goutham',
 'class': 'mca'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [51]:
coll_create.find_one()

{'_id': ObjectId('65813e5389d691c1b325583f'),
 'name': 'goutham',
 'class': 'mca'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [54]:
# Sort records in the collection based on the "age" field in descending order
sorted_records = coll_create.find().sort("name", pymongo.DESCENDING)

# Print sorted records
print("Sorted Records (Descending Order by Age):")
for record in sorted_records:
    print(record)

Sorted Records (Descending Order by Age):
{'_id': ObjectId('65813e5389d691c1b325583f'), 'name': 'goutham', 'class': 'mca'}
{'_id': ObjectId('65813e9da5a854fb42832c60'), 'name': 'goutham', 'class': 'mca'}
{'_id': ObjectId('65813ed7a5a854fb42832c6a'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65813ed7a5a854fb42832c6c'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65813ed7a5a854fb42832c68'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65813ed7a5a854fb42832c67'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65813ed7a5a854fb42832c64'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65813ed7a5a854fb42832c66'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65813ed7a5a854fb42832c63'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65813ed7a5a854fb42832c62'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65813ed7a5a854fb42832c6b'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65813ed7a5a854fb42832c65'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65813ed7a5a854fb42832c69'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65813ed7a5a854fb42832c61'), 'name': 'Amy', 'address': 'Apple st 652'}

Q7. Explain why delete_one(), delete_many(), and drop() are used.

In [ ]:

In MongoDB, delete_one(), delete_many(), and drop() are methods used to remove documents or collections from a database. Here's an explanation of each:

delete_one():
Purpose: This method is used to delete a single document that matches a specified criteria.
Usage: delete_one(filter, collation=None).
Example: Suppose you have a collection of documents representing users, and you want to delete the document where the username is "john_doe". You would use delete_one({"username": "john_doe"}).

delete_many():
Purpose: This method is used to delete multiple documents that match a specified criteria.
Usage: delete_many(filter, collation=None).
Example: Continuing with the user collection example, if you want to delete all documents where the status is "inactive," you would use delete_many({"status": "inactive"}).

drop():
Purpose: This method is used to remove an entire collection from the database.
Usage: drop().
Example: If you want to completely remove the user collection from the database, you would use user_collection.drop().

In [55]:
# Delete all documents with age greater than 30
coll_create.delete_many({"address": "Green Grass 1"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000000ee'), 'opTime': {'ts': Timestamp(1702970263, 13), 't': 238}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1702970263, 14), 'signature': {'hash': b'\xdd\xc6\xeeD\xbb\xdf\xef\x011\x1dm\xb1\xdex\xb6\xcb\x7f>\x92`', 'keyId': 7263471583723782146}}, 'operationTime': Timestamp(1702970263, 13)}, acknowledged=True)

In [58]:
# Drop the entire collection
coll_create.drop()