Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
l=[4, 8, 15, 16, 23, 42]
p1=pd.Series(l)
print(p1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [10]:
a=[1,2,3,4,5,6,7,8,9,10]
pd.Series(a)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3 question df

In [11]:
data=pd.DataFrame({"Name":["alice","Bob","Claire"],
                   "age":[25,30,27],
                   "gender":["Female","male","female"]})

In [12]:
data

     Name  age  gender
0   alice   25  Female
1     Bob   30    male
2  Claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


In Pandas, a DataFrame is a two-dimensional, tabular data structure that is designed for handling and manipulating data in a structured way. It is essentially a container for Series objects, where each column of a DataFrame is a Series. DataFrames allow you to store and manipulate heterogeneous types of data, making them a powerful tool for data analysis and manipulation.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a single-column DataFrame. Series are the building blocks of a DataFrame.

In [16]:
data2=pd.DataFrame({"k1":[1,2],"k2":["goutham","loki"]})
data2

   k1       k2
0   1  goutham
1   2     loki


Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [17]:
data5=pd.DataFrame({"Name":["alice","Bob","Claire"],
                   "age":[25,30,27],
                   "gender":["Female","male","female"]})

In [22]:
print(data5.head(1))
print(data5.tail(1))
print(data5.info())
print(data5.describe())

    Name  age  gender
0  alice   25  Female
     Name  age  gender
2  Claire   27  female
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   age     3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
             age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

6...Which of the following is mutable in nature Series, DataFrame, Panel?


Series data is mutable whereas size is immutable
data frame  and panel both data and size are mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [23]:
import pandas as pd

series1 = pd.Series([1, 2, 3])
series2 = pd.Series(['A', 'B', 'C'])
series3 = pd.Series([10.5, 20.5, 30.5])

data = {'Column1': series1, 'Column2': series2, 'Column3': series3}
df = pd.DataFrame(data)

print(df)

   Column1 Column2  Column3
0        1       A     10.5
1        2       B     20.5
2        3       C     30.5